##############################
## POSTGRESQL BACKUP CONFIG ##
##############################

# Optional system user to run backups as.  If the user the script is running as doesn't match this
# the script terminates.  Leave blank to skip check.
RUN_AS_USER=postgres

# Optional username to connect to database as.  Will default to "postgres" if none specified.
DB_USER=postgres

# This dir will be created if it doesn't exist.  This must be writable by the user the script is
# running as.
BACKUPS_DIR=/var/lib/postgresql/backups

# Will produce a single .tgz file if set to "yes"
TGZ_EACH_SET_OF_BACKUPS=yes

# Will attempt to copy the backup (either the .tgz file or the directory) to the specified cloud bucket, if set to "yes" and CLOUD_BUCKET_URI is specified.
COPY_BACKUP_TO_CLOUD_BUCKET=yes
CLOUD_BUCKET_URI=gs://observatory-db-backups

# List of strings to match against in database name, separated by space or comma, for which we only
# wish to keep a backup of the schema, not the data. Any database names which contain any of these
# values will be considered candidates. (e.g. "system_log" will match "dev_system_log_2010-01")
SCHEMA_ONLY_LIST=""

# Will produce a custom-format backup if set to "yes"
ENABLE_CUSTOM_BACKUPS=no

# Will produce a gzipped plain-format backup if set to "yes"
ENABLE_PLAIN_BACKUPS=yes

# Will produce a directory-format backup if set to "yes"
ENABLE_DIRECTORY_BACKUPS=no

# Will produce gzipped sql file containing the cluster globals, like users and passwords (md5 hashes), if set to "yes"
ENABLE_GLOBALS_BACKUPS=yes

#### SETTINGS FOR ROTATED BACKUPS ####

# Which day of the week to perform the weekly backup (1-7 = Monday-Sunday, 0 = disable weekly backups)
DAY_TO_PERFORM_WEEKLY_BACKUP=0

# Number of days to keep daily backups and .log files
DAYS_TO_KEEP=32

# Number of weeks to keep weekly backups (does not apply when DAY_TO_PERFORM_WEEKLY_BACKUP=0)
WEEKS_TO_KEEP=4

######################################
