$card-max-width: 650px;
$text-side-padding: 16px;
$usual-text-size: 14px;

.obs-page-backdrop {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
  filter: blur(2px);
  height: 330px;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.size-full {
  max-width: 520px;
}

.obs-page-container {
  background-color: #F7F7F7;
  position: relative;
  min-height: 100%;
  div.paragraph, p {
    font-size: $usual-text-size;
    margin-bottom: $usual-text-size;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.obs-page-content {
  font-family: Roboto, Cochin, Georgia, serif;
  height: 100%;
  position: relative;
  z-index: 100;
}

.plot-container {
  position: relative;
}

.card-stack {
  max-width: $card-max-width;
  width: 100%
}

.obs-leader {
  //max-width: $card-max-width;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.obs-highlight {
  color: rgb(230, 74, 25);
}

.card-stack > div {
  margin-bottom: 15px;
}

.obs-breadcrumb {
  margin-bottom: 15px;
  max-width: $card-max-width;
  width: 100%;
  position: relative;
  .obs-breadcrumb-inner {
    width: 100%;
    padding-left: $text-side-padding;
    padding-right: $text-side-padding;
    display: flex;
    flex-wrap: wrap;
    //justify-content: center;
    align-items: center;
    .obs-breadcrumb-component {
      word-break: keep-all;
      white-space: nowrap;
    }
  }
}

.auto-half-height-container {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  height: 0;
}

.auto-height-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.doc-page {
  background-color: #F7F7F7;
}

.site-marker {
  width: 34px;
  height: 27px;
  transform: translate(-17px, -27px);
}

.site-marker-contrast-text {
  font-size: 10px;
  paint-order: stroke;
  stroke: white;
  stroke-width: 2px;
  stroke-opacity: 0.4;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  font-weight: bold;
}

/* credit http://www.cssarrowplease.com/ */
.arrow_box {
  position: relative;
  background: #ffffff;
  border: 1px solid #333333;
}

.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 5px;
  margin-left: -5px;
}

.arrow_box:before {
  border-color: rgba(51, 51, 51, 0);
  border-top-color: #333333;
  border-width: 6px;
  margin-left: -6px;
}

li {
  padding-bottom: 5px;
}

.home-content {
  display: flex;
  flex-direction: column;
  .home-headline {
    font-size: 18px;
  }
}

.home-blog {
  //border: 1px solid darkgrey;
  //border-radius: 5px;
  //padding: 10px;

}

.home-header {
  font-weight: normal;
  padding-top: 15px;
}

.home-header-first {
  padding-top: inherit;
}

.header-logo {
  flex: 1;
  margin-left: 21px;
  height: 64px;
  .header-logo-beta {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 7px;
    top: 38px;
    padding: 0 3px;
    font-size: 8px;
    text-transform: uppercase;
    background-color: #e64a19;
    color: white

  }
  .header-logo-container {
    display: inline-block;
    overflow: hidden;
    transform: translateZ(0)
  }
  .header-logo-mg {
    cursor: pointer;
    max-width: 100%;
    height: calc(100% - 12px);
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

.header-filler {
  flex: 1;
  max-width: calc(100% / 2 - 145px);
}

.data-version {
  font-size: 11px;
  color: #36454F;
  text-align: center;
  margin-right: 12px;
  margin-left: 12px
}

.header-top-nav {
  display: none;
}

.header-hamburger {
  display: inherit !important;
}

@media (min-width: 1200px) {
  .home-content {
    flex-direction: row;
  }
  .home-blog {
    margin-right: 100px;
  }
  .home-header-top {
    padding-top: inherit;
  }
  .header-top-nav {
    display: flex;
  }
  .header-hamburger {
    display: none !important;
  }
  .header-filler {
  max-width: calc(100% / 2 - 371px);
}

}
