#############################
## WORDPRESS BACKUP CONFIG ##
#############################

# Optional user check. If script is running as a different user, then the script terminates.
# To skip this check, specify an empty string.
RUN_AS_USER=leehartoxford

# Where the Updraft backup files are being stored.
# NOTE: backups will be removed from here during the process, when they're tarballed and relocated to BACKUPS_FERRY_DIR.
BACKUPS_SOURCE_DIR=/var/www/wp/wp-content/updraft

# The script will look for files from this number of days ago. (1 = yesterday)
# To attempt to upload files made by Updraft earlier in the day (What are you doing?!) then set to 0 or an empty string.
# NOTE: When there have been more than one Updraft backup in the same day, all files from all backup events on that day will be included.
DAYS_AGO=1

# The set of files from DAYS_AGO in BACKUPS_SOURCE_DIR needs to match this pattern in order to be tarballed, etc.:
FILENAME_GLOB_PATTERN=backup_????-??-??-????_MalariaGEN_Analytics_Blog_????????????-*.*

# Where the Updraft backup files will be tarballed and stored, before being uploaded to the cloud.
# This directory will be created if it doesn't exist.
# Must be writable by the user the script is running as, i.e. RUN_AS_USER.
BACKUPS_FERRY_DIR=/home/leehartoxford/wp_backups

# We will attempt to copy the tarball backup (the .tar.gz file) from BACKUPS_FERRY_DIR to this specified cloud bucket.
# To skip this, specify an empty string.
CLOUD_BUCKET_URI=gs://analytics-wp-backups

# Number of days to keep daily backups in BACKUPS_FERRY_DIR.
# NOTE: Backups will be removed from BACKUPS_SOURCE_DIR as soon as they are tarballed and the tarball stored in BACKUPS_FERRY_DIR.
# All script output `.log` files are kept, in the directory specified by `wp_backup.contab`.
# All Updraft log files are kept in the BACKUPS_SOURCE_DIR, assuming they don't match the FILENAME_GLOB_PATTERN.
# Daily backups in BACKUPS_FERRY_DIR thart older in than DAYS_TO_KEEP are deleted, in order to preserve storage space.
# Monthly backups (made on the second day of each month) are not deleted by this script.
DAYS_TO_KEEP=32
