#############################
## WORDPRESS BACKUP CONFIG ##
#############################

# Optional user check. If script is running as a different user, then the script terminates. To skip this check, specify an empty string.
RUN_AS_USER=leehartoxford

# This directory will be created if it doesn't exist. This must be writable by the user the script is running as.
BACKUPS_DIR=/home/leehartoxford/backups

# Will attempt to copy the backup (the .tar.gz file) to the specified cloud bucket. To skip this, specify an empty string.
CLOUD_BUCKET_URI=gs://analytics-wp-backups

# Number of days to keep daily backups (All .log files are kept.)
DAYS_TO_KEEP=32
